.logo {
  height: 40px;
  width: 40px;
  background-image: url("../img/Logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 10px;
  float: left; 
}

